body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6cdcd;
}
.container {
  text-align: center;
  margin-top: 150px;
}
h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
button {
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: blueviolet;
}
